@font-face {
    font-family: SundayBest;
    src: url(assets/font/SundayBest.ttf);
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:#00985F;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F1E8;
    color: #00985F;
}

.banner {
    background-image:url(assets/images/banner.png);
}

.banneroverskrift {
    color: #00985F;
    padding-top: 15px;
}

.bannertekst {
    color: #00985F;
    padding-left: 10px;
    padding-right: 10px;
}

.banneroverlay {
    background-color: #F5F1E8;
    height:200px;
    border: solid 5px;
    border-color: #B3724A;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logoimg {
    height:55px;
}

.burger-menu {
    position: relative;
    display:none;
}

.menu-icon {
    cursor: pointer;
    display: block;
    width: auto;
    text-align: left;
    background-color: #F5F1E8;
}

.menu-items {
    display: none; visibility: hidden;
    position: absolute;
    background-color: #F5F1E8;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.menu-items li {
    padding: 10px 10px; /* Reducing the horizontal padding */
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.menu-items li a {
    color:#274e37;
    text-decoration: none;
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items li:hover {
    color:#B3724A;
}

.menu-items.active {
    display: block;
    visibility: visible;
}



.menu {
    font-size: 18px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    padding-left:15px;
}

.stoet {
    color: #B3724A !important;
    border-radius: 5px !important;
    border: 1px solid #B3724A;
}

.stoetburger {
    color: #B3724A !important;
    border-radius: 5px !important;
    border: 1px solid #B3724A;
    padding:2px 20px 2px 20px;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color:#274e37;
}

.menu li a:hover {
    color:#f47521;
}

.banner {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.deltag {
    padding: 40px;
    text-align: center;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    width: 200px;
    text-align: center;
    margin: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
}


.cta-knap {
    background-color: #B3724A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.cta-knap:hover {
    background-color: #555;
}

.win-win-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    max-width: 1200px;
    margin: 0 auto;
}

.win-win-section {
    padding: 40px 0;
    text-align: center;
}

.win-win-section .infobillede {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Find en stand nær dig Section Styles */
.find-stand-section {
    padding: 40px 0;
    text-align: center;
    background-color: #f9f9f9;
}

/* KONTAKT Section Styles */
.kontakt-section {
    padding: 40px 0;
    text-align: center;
}

/* modeloverlay Styles */
.modeloverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.overlayoverskrift {
    font-family: SundayBest;
    color: #00985F;
}

.modelindhold {
    background-color: #fff;
    padding: 40px;
    max-width: 90%;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modelindhold select {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.model-cta-knap {
    display: block;
    margin: 20px auto 0;
}

/* Styles for the input fields in the "Personlige oplysninger" modal */
.info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}
.modeloverlay dialog.modelindhold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modeloverlay dialog.modelindhold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;  /* Higher z-index than the modal-overlay */
    display: block;  /* Ensure it's displayed */
}

@media only screen and (max-width: 900px) {
    .burger-menu {
        display:block;
        font-size: 18px;
        margin-right:10%;
    }
    .menu {
        display:none;
    }
    .menu-items {
        width:140%;

    }
    .menu-items li {
        font-size: 14px; /* Adjusting the font size */
    }
    .logoimg {
        height:20px;
    }
    .win-win-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}